.profile-cont {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 20px;
  width: 80%;
  height: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.profile-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.profile-head {
  font-size: 24px;
  color: #4f46e5;
}
.profile-des {
  font-size: 16px;
  color: black;
}

.profile-fail-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-fail-but {
  background-color: #4f46e5;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border: 0px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
